<ul>
    {{#each results}}
    <li><a href={{link}} target='_blank'>{{title}}</a></li>
    <button id="saveArticle"  data-link="{{link}}" data-header="{{title}}"> Save Article</button>
    {{/each}}
</ul> 

